
body{
    font-family: 'Poppins', sans-serif;
    margin:0px;
    padding: 0px;
}
.wrapper{
    width: 100%;
    background-color: #F0FFF0;
    height: auto;
   
}
.logo{
    width: 198px;
    height: 59;
}
.banner-area{
    padding: 70px 0;
}
.banner-half h6{
    
}
.banner-half p{
    margin-bottom: 30px;
}
.banner-half a{
    text-decoration: none;
    width: 200px;
}
.nav-link{
    margin-right: 10px;
}
.signin-button{
    background-color: #21B573;
    padding: 7px;
    border-radius: 20px;
    color: #fff;
    display: block;
    width: 100px;
    text-align: center;
}
.students-books img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 70px;
    margin-bottom: 25px;
    
}
.students-books{
    text-align: center;
    background-color: #F0FFF0 ;
    border-radius: 5px;
   
    
}
.students-books:hover{
    box-shadow: 10px 10px 8px #888888;
    cursor: pointer;
    background-color: #ffff;
}
.students-books h2{
    font-size: 25px;
}
.students-books h5{
    font-size: 15px;
    margin-bottom: 26px;
}
.container{
    margin-bottom: 70px;
}
.sign-in-button{
    padding: 10px;
}
a.sign-in-button, .buttons{
    background-color: #2FA470;
    border-radius: 30px;
    padding: 10px 25px;
    text-decoration: none;
    color: #ffffff;
    border: none;
    outline: none;
    font-size: 16px;
}
.buttons:hover,.sign-in-button:hover, .teachers-buttons:hover {
    background-color: gray;
    transition: all .6s ease-in-out;
}
.news img{
    border-radius: 10px;
}

.teachers-buttons{
    background-color: #2FA470;
    border-radius: 30px;
    padding: 10px 25px;
    text-decoration: none;
    color: #ffffff;
    border: none;
    outline: none;
    font-size: 16px;
} 
.card-body a{
    text-decoration: none;
}
.date-icon{
    width: 25px;
}
.card{
    border: none;
    box-shadow: 4px 7px 9px 0px #888888;
    border-radius: 10px
}

.news p{
    font-size: 15px;
}
.teachers img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border-radius: 75%;

}
.testimonial-heading h1{
    text-align: center;
    margin-bottom: 70px;
    font-weight: bold;
}

.destimonial img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float:right;
}
.sub-bg-color{
    background-color: #F0FFF0;
}
.subcribe-half img{
    width: 200px;
    padding: 3px;
    
}
input{
    margin-bottom: 10px;
}


.send-email-button{
    background-color: #21B573;
    padding: 7px;
    border-radius: 20px;
    color: #fff;
    display: block;
    width: 150px;
    text-align: center;
}
.card-footer{
    border: none;
    
}
.footer-list-item li{
    list-style: none;
    margin-bottom: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.footer-bottom h6{
    margin-top: 30px;
    text-align: center;
    font-size: 15px;
    color: gray;
}